<!--this is navbar.component.html-->
<app-navbar2></app-navbar2>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        <div class="col-lg-6">
            <h3>Lista de Check-Out</h3>
        </div>
        <div class="col-lg-6">
            <a class="btn btn-success float-right" 
                [routerLink]="['/agregar-checkout']">
                Agregar Check-Out
            </a>
        </div>
    </div>
    <br>
    <!-- ADD TASK FORM -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Estado</th>
                    <th>Multa</th>
                    <th>Problemas</th>
                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let checkout of listCheckout">
                <td>
                    <a [routerLink]="['/ver-checkout/',
                        checkout.id]">
                        {{checkout.id}}
                    </a>
                </td>
                <td>{{checkout.estado}}</td>
                <td>{{checkout.multa}}</td>
                <td>{{checkout.problemas}}</td>
                <td>
                    <button class="btn btn-secondary btm-sm float-left" 
                        [routerLink]="['/editar-checkout/', 
                        checkout.id]">
                        EDITAR
                    </button>
                    <button class="btn btn-danger btm-sm float-left" 
                        (click)="delete(checkout.id)">
                        BORRAR
                    </button>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

