<div class="container text-justify">
    <form [formGroup] = "">
        <h1>LOGIN</h1>
        <div class="form-group row">
            <label class="control-label col-md-12">Correo</label>
            <input type="email" name="correo" class="form-control" formControlName="correo">

        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Contraseña:</label>
            <input type="password" name="password" class="form-control" formControlName="password">

        </div>
        <input type="submit" class="btn" [routerLink]="['/principal']" value="Iniciar sesión">
    </form>
</div>