<!--this is navbar.component.html-->
<app-navbar></app-navbar>

<div class="container">
    <form [formGroup] = "servicio" (ngSubmit)="guardarServicio()">
        <br>
        <h3>{{accion}} Servicio</h3>
        <div class="form-group row">
            <label class="control-label col-md-12">ID servicio:</label>
            <input type="number" name="id" class="form-control" formControlName="id"> 
            <span class="text-danger ml-3" 
            *ngIf="servicio.get('id').hasError('required') && servicio.get('id').touched">
            ID es requerido</span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Nombre del servicio:</label>
            <input type="text" name="servicio" class="form-control"  formControlName="servicio">
            <span class="text-danger ml-3" 
            *ngIf="servicio.get('servicio').hasError('required') && servicio.get('servicio').touched">
            El nombre es requerido</span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Descripcion:</label>
            <input type="text" name="descripcion" class="form-control"  formControlName="descripcion">
            <span class="text-danger ml-3" 
            *ngIf="servicio.get('descripcion').hasError('required') && servicio.get('descripcion').touched">
            Descripcion es requerido</span>
        </div>
        <div class="form-group row">
            <label class="control-label col-md-12">Precio:</label>
            <input type="number" name="precio" class="form-control"  formControlName="precio">
            <span class="text-danger ml-3" 
            *ngIf="servicio.get('precio').hasError('required') && servicio.get('precio').touched">
            Precio es requerido</span>
        </div>
        <div class="form-group row">
            <button [routerLink] ="['/listaservicio']" class="btn btn-secondary float-left">Cancelar</button>
            <button class="btn btn-success float-right" [disabled] = "servicio.invalid">Aceptar</button>
        </div>
    </form>
</div>
