<!--this is navbar.component.html-->
<app-navbar></app-navbar>
<div class="container">
<div class="row" style="padding-top: 10px;">
    <div class="col-lg-6">
        <h3>Lista de Clientes</h3>
    </div>
    <div class="col-lg-6">
        <a class="btn btn-success float-right" [routerLink]="['/agregar']">Agregar Cliente</a>
    </div>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="loading"> 
    <span class="sr-only">Loading...</span>
</div>
<br>
<!-- ADD TASK FORM -->
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>RUN</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody class="contenidobusqueda">
            <tr *ngFor="let Cliente of listCliente">
                <td> <a [routerLink]="['/ver/', cliente.rut]">{{cliente.rut}}</a></td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.correo}}</td>
                <td>{{cliente.telefono}}</td>
                <td>
                    <button class="btn btn-secondary btm-sm float-right" [routerLink]="['/editar/', cliente.rut]">EDITAR</button>
                    <button class="btn btn-danger btm-sm float-right" (click)="delete(cliente.rut)">BORRAR</button>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</div>